<div class="maindiv">
<div class="fluid-container ">
    
    <div class="">
        <h2 class="dom">Domestic and International Flights</h2>
    </div>
    <div class="container bg-white p-4 rounded mt-3">
        <div class="d-flex justify-content-start align-itemms-center">
            <div class="mr-4"> <button> O </button> One-Way</div>
            <div class="mr-4"> <button> O </button> Round Trip</div>
            <div class="mr-4"> <button> O </button> Multi City</div>
        </div>
        <div class="row d-flex  justify-content-between">
            <div class="col-3  fromto">
                <div class="border1px">
                    <p class="mb-0">From</p>
                <h5 class="pt-4"><input type="text"></h5>
                </div>
            </div>
            <div class="col-3 fromto">
               <div class="border1px">
                    <p class="mb-0">To</p>
                <h5 class="pt-4"><input type="text"></h5>
               </div>
            </div>
            <div class="col-2 fromto">
               <div class="border1px">
                    <p class="mb-0">Departure</p>
                <p class="pt-4"><input class="width" type="date"></p>
               </div>
            </div>
            <div class="col-2 fromto">
              <div class="border1px">
                    <p class="mb-0 pb-4">Return</p>
                <p class="fs-13px"><input type="date"></p>
              </div>
            </div>
            <div class="col-2 fromto">
               <div class="border1px">
                    <p class="mb-0">Traveller & Class</p>
                <h5 class="pt-4"><input class="width" type="text"> </h5>
               </div>
            </div>
        </div>
    </div>

</div>

</div>